<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../static/css/font.css">
        <link rel="stylesheet" href="../static/css/xadmin.css">
        <script type="text/javascript" src="../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/xadmin.js"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="userid" class="layui-form-label">
                            <span class="x-red">*</span>id</label>
                        <div class="layui-input-inline">
                            <input type="text" id="userid" name="email" required=""  autocomplete="off" class="layui-input"></div>
                        <div class="layui-form-mid layui-word-aux">
                        </div>
                    <div class="layui-form-item">
                        <label for="username" class="layui-form-label">
                            <span class="x-red">*</span>商户名</label>
                        <div class="layui-input-inline">
                            <input type="text" id="username" name="username" required=""  autocomplete="off" class="layui-input"></div>
                    </div>

                            <div class="layui-form-item">
                                <label for="role" class="layui-form-label">
                                    <span class="x-red">*</span>角色</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="role" name="username" required=""  autocomplete="off" class="layui-input"></div>
                            </div>
                    <div class="layui-form-item">
                        <label for="premession" class="layui-form-label">
                            <span class="x-red">*</span>权限等级</label>
                        <div class="layui-input-inline">
                            <input  id="premession" name="pass" required=""  autocomplete="off" class="layui-input"></div>
                        </div>
                    <div class="layui-form-item">
                            <label for="phone" class="layui-form-label">
                                <span class="x-red">*</span>商户电话</label>
                            <div class="layui-input-inline">
                                <input type="text" id="phone" name="repass" required=""  autocomplete="off" class="layui-input"></div>
                    </div>
                            <div class="layui-form-item">
                                <label for="jointime" class="layui-form-label">
                                    <span class="x-red">*</span>加入时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" id="jointime" name="repass" required=""  autocomplete="off" class="layui-input"></div>
                            </div>
                    <div class="layui-form-item">
                        <input type="button" onclick="xiu()" class="layui-btn" value="确认修改"></input>
                    </div>
                </form>
            </div>
        </div>
        <script type="text/javascript" src="../static/js/jquery.min.js"></script>



        <script type="text/javascript">
            $(function(){
                $.ajax({
                    type:"POST",
                    url:"realup",
                    data:{},
                    dataType:"JSON",
                    success:function (data) {

                      alert(data.name);
                     $('#userid').val(data.id);
                     $('#username').val(data.name);
                     $('#role').val(data.role);
                     $('#premession').val(data.premession);
                     $('#phone').val(data.phone);
                     $('#jointime').val(data.jointime);
                    }

                })
            })
        </script>
        <script type="text/javascript">

            function xiu() {
                var id= document.getElementById('userid').value;
                var name = document.getElementById('username').value;
                var role= document.getElementById('role').value;
                var premession = document.getElementById('premession').value;
                var phone  =document.getElementById('phone').value;
                var jointime = document.getElementById('jointime').value;
                $.ajax({
                    type:"POST",
                    url:"updatebuss",
                    data:{"id":id,
                          "name":name,
                        "role":role,
                        "premession":premession,
                        "phone":phone,
                        "jointime":jointime
                    },
                    dataType:"JSON",
                    success:function (data) {
                        alert(data);
                        if(data.indexOf('成功')!=-1){
                            location.href='listhtml';
                        }
                    }
                })
            }
        </script>
    </body>

</html>